
#logging
logs:
  path: './logs'
  level: 'INFO'

#brightdata proxy
proxy:
  user: brd-customer-hl_147834b0-zone-isp
  pw: 1ed19tg95ozh
# Where on S3 do the scrapers output their data
s3_output_path:
  bucket: terma-dealflow 
  prefix: inbound

scraper_auth:
  empire_flippers:
    email: nikhil@termaproject.com
    pw: N1kh1l87terma!


db:
  test:
    connection_string: 'mongodb+srv://scribeuser:ex0GJe5tbyWUSRDs@dealflowdb.s6j76.mongodb.net/?retryWrites=true&w=majority'
    host: "dealflowdb.s6j76.mongodb.net"
    db: dealflow_dev
    collection: alldeals_test
  dev:
    connection_string: 'mongodb+srv://scribeuser:ex0GJe5tbyWUSRDs@dealflowdb.s6j76.mongodb.net/?retryWrites=true&w=majority'
    host: "dealflowdb.s6j76.mongodb.net"
    db: dealflow_dev
    collection: alldeals
  prod:
    connection_string: 'mongodb+srv://scribeuser:ex0GJe5tbyWUSRDs@dealflowdb.s6j76.mongodb.net/?retryWrites=true&w=majority'
    host: "dealflowdb.s6j76.mongodb.net"
    db: dealflow
    collection: alldeals
